# version format
version: 0.1.{build}

# Build worker image (VM template)
image: WMF 5

# scripts that run after cloning repository
install:
- ps: choco install pester

# to disable automatic builds
build: off

# to run your custom scripts instead of automatic tests
test_script:
- ps: $VerbosePreference = 'Continue' ; . .\Install.ps1 ; Invoke-Pester -EnableExit

# Including commits with particular message or from specific user
only_commits:
  message: /build/                # Start a new build if message contains 'build'

environment:
  NugetApiKey:
    secure: K+vkseiHQEbiNnvY20ZSYA+Jl0fSAbfyWc1/454xA3FgZRIRUw5vDPG2eyFFc5lj

deploy_script:
- ps: $null = Install-PackageProvider -Name NuGet -Force ; . .\Tests\Deploy.ps1